In [112]:
import pandas as pd

In [95]:
path = 'Data/Europe data/results'

In [96]:
eu_data = []

In [97]:
for i in range(96):
    filename = path + f" ({i}).csv"
    val_dict = {}

    with open(filename) as file:
        lines = file.readlines()
        dict['type'] = lines[0]

        for line in lines[1:]:
            line = line.strip()
            key_vals = line.replace('"', '').split('\t')
            if key_vals == ['']:
                break
            val_dict[key_vals[0]] = key_vals[1]

    eu_data.append(val_dict)

In [98]:
eu_data[37].keys()

dict_keys(['Status', 'Name', 'Commercial Readiness', 'Phase', 'Country', 'Sea', 'Region', 'Latitude (Â° N)', 'Longitude (Â° E)', 'Capacity [MW]', 'Energy source', 'Number of converters', '(Estimated) begin of construction', '(Estimated) commissioning', '(Estimated) decommissioning', 'Owner', 'Project developer', 'Operator', 'Converter manufacturer', 'Converter type', 'Converter working principle', 'Converter capacity [MW]', 'Website', 'geometry'])

In [102]:
path = 'Data/rest_data/results'

In [103]:
non_eu_data = []

In [104]:
for i in range(79):
    filename = path + f" ({i}).csv"
    val_dict = {}

    with open(filename) as file:
        lines = file.readlines()
        dict['type'] = lines[0]

        for line in lines[1:]:
            line = line.strip()
            key_vals = line.replace('"', '').split('\t')
            if key_vals == ['']:
                break
            val_dict[key_vals[0]] = key_vals[1]

    non_eu_data.append(val_dict)

In [111]:
non_eu_data[10]

{'Status': 'early planning',
 'Name': 'Virgin Islands - St. Croix',
 'Commercial Readiness': 'commercial project',
 'Phase': '',
 'Country': 'USA',
 'Sea': 'Carribean Sea',
 'Region': 'St. Croix',
 'Latitude (Â° N)': '17.735',
 'Longitude (Â° E)': '-64.783',
 'Capacity [MW]': '15',
 'Energy source': 'marine energy (OTEC)',
 'Number of converters': '',
 '(Estimated) begin of construction': '',
 '(Estimated) commissioning': '',
 '(Estimated) decommissioning': '',
 'Owner': 'Ocean Thermal Energy Corporation (OTE)',
 'Project developer': 'Ocean Thermal Energy Corporation (OTE)',
 'Operator': 'Ocean Thermal Energy Corporation (OTE)',
 'Converter manufacturer': '',
 'Converter type': '',
 'Converter working principle': '',
 'Converter capacity [MW]': '',
 'Website': 'http://otecorporation.com/projects/',
 'geometry': 'POINT (-7211610.57206064 2006553.93426781)'}

In [116]:
df = pd.read_excel("Data/ml_data.xlsx", sheet_name=None)

In [123]:
list(df.keys())

['Energy capacity and generation(',
 'LENGTH OF COASTLINE',
 'Electricity power consumption',
 'GDP (current US$)',
 'Population',
 'Renewable energy',
 'Purchase parity',
 'Electricity cost',
 'Series - Metadata',
 'Data']

In [124]:
df['Energy capacity and generation(']

,ENERGY CAPACITY AND GENERATION DATA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Country/area,Indicator,Technology,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,South Africa,Electricity capacity (MW),Total renewable energy,1248.0,1283.0,1287.0,1587.0,948.0,948.0,948.0,...,1003.0,1500.0,2710.0,3429.0,4650.0,6548.0,7907.0,8011.0,9518.0,10193.0
2,NaN,NaN,Marine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Electricity generation (GWh),Total renewable energy,2377.0,2724.0,1650.0,1161.0,1257.0,1523.0,2544.0,...,1667.0,1531.0,2358.0,3699.0,4636.0,6476.0,7933.0,8291.0,9551.0,NaN
4,NaN,NaN,Marine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,NaN,Marine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Brazil,Electricity capacity (MW),Total renewable energy,63742.0,65094.0,67165.0,70418.0,72236.0,74429.0,77617.0,...,96117.0,99835.0,106445.0,112641.0,121374.0,128417.0,136579.0,144552.0,150046.0,159943.0
78,NaN,NaN,Marine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,NaN,Electricity generation (GWh),Total renewable energy,312260.0,276901.0,296379.0,317571.0,333333.0,351193.0,363888.0,...,456160.0,438547.0,432745.0,431313.0,465823.0,467029.0,495300.0,515449.0,522935.0,NaN
80,NaN,NaN,Marine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [127]:
import numpy as np
from netCDF4 import Dataset

# Replace 'gebco_2021.nc' with the actual filename and path to the GEBCO dataset
dataset = Dataset('gebco_2021.nc', 'r')

# Get the latitude and longitude values from the dataset
lats = dataset.variables['lat'][:]
lons = dataset.variables['lon'][:]

# Find the indices in the dataset that correspond to the given latitude and longitude
lat_idx = np.abs(lats - lat).argmin()
lon_idx = np.abs(lons - lon).argmin()

# Get the depth value at the given indices
depth = dataset.variables['elevation'][lat_idx, lon_idx]

# Close the dataset
dataset.close()

# Print the depth value
print(f"The depth at latitude {lat} and longitude {lon} is {depth} meters.")

FileNotFoundError: [Errno 2] No such file or directory: 'data/gebco_2021.nc'

In [129]:
import requests

# Replace these values with the latitude and longitude you want to look up
input_latitude = 40.0
input_longitude = -70.0

# Make a request to the NOAA VDatum API to get the depth value
url = f'https://vdatum.noaa.gov/vdatumweb/api/depth?lat={input_latitude}&lon={input_longitude}'
response = requests.get(url)

# Parse the JSON response to get the depth value
data = response.json()
depth = data['depth']

# Print the depth value
# print(f'The depth of the ocean at ({input_latitude}, {input_longitude}) is {depth} meters.')

JSONDecodeError: Expecting value: line 5 column 1 (char 4)

In [131]:
response

In [132]:
from oceanpy import ETOPO1

# Replace these values with the latitude and longitude you want to look up
input_latitude = 40.0
input_longitude = -70.0

# Initialize the ETOPO1 dataset
dataset = ETOPO1()

# Get the depth value for the given latitude and longitude
depth = dataset.get_depth(input_latitude, input_longitude)

# Print the depth value
print(f'The depth of the ocean at ({input_latitude}, {input_longitude}) is {depth:.2f} meters.')

ModuleNotFoundError: No module named 'oceanpy'

In [133]:
from oceans.datasets import etopo_subset
from oceans import Grid
import numpy as np

# Get the ETOPO1 subset dataset for the given latitude and longitude range
lons = np.array([-60, -50])
lats = np.array([40, 50])
etopo = etopo_subset(lons, lats)

# Create a Grid object for the dataset
grid = Grid(etopo.longitude, etopo.latitude, etopo.topo)

# Get the depth value for the given latitude and longitude
lon = -55
lat = 45
depth = grid.interp(lon, lat)

print(depth)

ModuleNotFoundError: No module named 'oceans'