## Marine Data Analysis

### Import Required Libraries

In [1]:
import pandas as pd
from oceans.datasets import get_depth
import netCDF4 as nc
import matplotlib.pyplot as plt
import numpy as np
import requests
from haversine import haversine

### Define function for getting distance from beach

In [2]:
def get_dist(sea_point):
    url = 'https://nominatim.openstreetmap.org/reverse'
    params = {
        'format': 'jsonv2',
        'lat': sea_point[0],
        'lon': sea_point[1]
    }

    response = requests.get(url, params=params).json()

    shore_point = (float(response['lat']), float(response['lon']))

    distance = haversine(sea_point, shore_point)
    return distance

### Reading and processing marine plants Data from the Europe data folder

In [3]:
path = 'Data/Europe data/results'

In [4]:
eu_data = []

In [5]:
for i in range(96):
    filename = path + f" ({i}).csv"
    val_dict = {}

    with open(filename) as file:
        lines = file.readlines()
        val_dict['type'] = lines[0]

        for line in lines[1:]:
            line = line.strip()
            key_vals = line.replace('"', '').split('\t')
            if key_vals == ['']:
                break
            if "Latitude" in key_vals[0]:
                key_vals[0] = "Latitude"
            if "Longitude" in key_vals[0]:
                key_vals[0] = "Longitude"
            val_dict[key_vals[0]] = key_vals[1]

    eu_data.append(val_dict)

In [6]:
eu_data[37].keys()

dict_keys(['type', 'Status', 'Name', 'Commercial Readiness', 'Phase', 'Country', 'Sea', 'Region', 'Latitude', 'Longitude', 'Capacity [MW]', 'Energy source', 'Number of converters', '(Estimated) begin of construction', '(Estimated) commissioning', '(Estimated) decommissioning', 'Owner', 'Project developer', 'Operator', 'Converter manufacturer', 'Converter type', 'Converter working principle', 'Converter capacity [MW]', 'Website', 'geometry'])

In [7]:
eu_data[37]

{'type': 'Wave\n',
 'Status': 'under construction',
 'Name': 'mWave Demonstrator',
 'Commercial Readiness': 'pre-commercial project',
 'Phase': '1',
 'Country': 'United Kingdom',
 'Sea': 'Bristol Channel',
 'Region': 'META, East Pickard Bay, approx. 1 km from Freshwater West beach',
 'Latitude': '51.666',
 'Longitude': '-5.09',
 'Capacity [MW]': '1.5',
 'Energy source': 'marine energy (wave)',
 'Number of converters': '1',
 '(Estimated) begin of construction': '',
 '(Estimated) commissioning': '31.12.2021',
 '(Estimated) decommissioning': '31.12.2022',
 'Owner': 'Bombora Wave Power',
 'Project developer': 'Bombora Wave Power',
 'Operator': 'Bombora Wave Power',
 'Converter manufacturer': 'Bombora Wave Power',
 'Converter type': 'mWave',
 'Converter working principle': 'Submerged Pressure Differential',
 'Converter capacity [MW]': '1.5',
 'Website': 'https://bomborawave.com/latest-news/project/1-5mw-pembrokeshire-project/',
 'geometry': 'POINT (-566616.20813776 6739957.81664534)'}

### Reading and processing marine plants Data from the Europe data folder

In [8]:
path = 'Data/rest_data/results'

In [9]:
non_eu_data = []

In [10]:
for i in range(79):
    filename = path + f" ({i}).csv"
    val_dict = {}

    with open(filename) as file:
        lines = file.readlines()
        val_dict['type'] = lines[0]

        for line in lines[1:]:
            line = line.strip()
            key_vals = line.replace('"', '').split('\t')
            if key_vals == ['']:
                break
            if "Latitude" in key_vals[0]:
                key_vals[0] = "Latitude"
            if "Longitude" in key_vals[0]:
                key_vals[0] = "Longitude"
            val_dict[key_vals[0]] = key_vals[1]

    non_eu_data.append(val_dict)

In [11]:
non_eu_data[10]

{'type': 'OTEC\n',
 'Status': 'early planning',
 'Name': 'Virgin Islands - St. Croix',
 'Commercial Readiness': 'commercial project',
 'Phase': '',
 'Country': 'USA',
 'Sea': 'Carribean Sea',
 'Region': 'St. Croix',
 'Latitude': '17.735',
 'Longitude': '-64.783',
 'Capacity [MW]': '15',
 'Energy source': 'marine energy (OTEC)',
 'Number of converters': '',
 '(Estimated) begin of construction': '',
 '(Estimated) commissioning': '',
 '(Estimated) decommissioning': '',
 'Owner': 'Ocean Thermal Energy Corporation (OTE)',
 'Project developer': 'Ocean Thermal Energy Corporation (OTE)',
 'Operator': 'Ocean Thermal Energy Corporation (OTE)',
 'Converter manufacturer': '',
 'Converter type': '',
 'Converter working principle': '',
 'Converter capacity [MW]': '',
 'Website': 'http://otecorporation.com/projects/',
 'geometry': 'POINT (-7211610.57206064 2006553.93426781)'}

### Reading the excel file containing all the collected data

In [12]:
df = pd.read_excel("Data/ml_data.xlsx", sheet_name=None)

In [13]:
list(df.keys())

['coastline',
 'beaches',
 'marine_energy_capacity_and_gene',
 'electricity_power_consumption',
 'GDP',
 'population',
 'renewable_energy_percentage',
 'purchase_parity',
 'electricity_cost',
 'inflation',
 'Series - Metadata',
 'Data']

In [14]:
df['beaches']

   Top beach coordinates   Latitude   Longitude
0              Australia -20.282677  149.034912
1              Australia -20.278610  149.036392
2              Australia -33.890842  151.274292
3                 Brazil  -3.854703  -32.443741
4                 France  44.589123   -1.223570
5                  India   8.894748   76.553513
6                  India  17.714294   83.323685
7                  India  18.954269   72.811501
8              Indonesia  38.790527   -9.492289
9              Indonesia  -8.750644  115.474693
10             Indonesia  -8.146727  110.597214
11             Indonesia  -8.719266  115.168640
12             Indonesia  -8.485466  116.047302
13                 Italy  40.633354   14.602745
14                Mexico  24.321733 -110.324203
15                Mexico  21.259657  -86.751434
16                Mexico  20.207481  -87.430496
17                Mexico  20.699806 -105.570259
18                Mexico  19.230021 -104.729042
19          South Africa -34.197388   18.451151
20          South Africa -31.986111   29.147223
21          South Africa -34.079762   23.127628
22                Turkey  40.962856   29.061369
23                Turkey  36.802788   28.234247
24                Turkey  36.681393   27.557518
25                Turkey  36.861027   30.637844
26                Turkey  36.792221   28.620001
27                Turkey  36.266216   29.317223
28                Turkey  36.228767   29.449142
29                Turkey  36.461185   29.125172
30                Turkey  36.551041   31.976477
31                Turkey  36.396667   30.473057
32                Turkey  36.496799   29.127331
33         United States  19.356697 -154.968307
34         United States  39.452717 -123.813866
35         United States  27.265862  -82.552521
36         United States  37.801685 -122.479965
37         United States  20.787159 -156.002045
38         United States  20.005039 -155.824615
39         United States  33.850655  -78.654381
40         United States  32.477474  -80.335297
41         United States  40.630100  -73.340958
42         United States  27.935509  -80.490044
43         United States  38.949848  -77.127647
44         United States  39.955673  -74.074303
45         United States  25.942871  -80.123383
46         United States  27.745003  -82.759659
47         United States  45.908997 -123.968475
48         United States  25.912266  -80.121277
49         United States  39.926064  -74.073860
50         United States  33.905758  -78.391144
51         United States  47.993195 -122.561462

### Getting the depth of the marine plants

In [15]:
station_lon = [70]
station_lat = [18]
get_depth(station_lon, station_lat)

array([-2638.16828962])

In [31]:
for point in eu_data:
    point['depth'] = get_depth(float(point["Longitude"]), float(point["Latitude"]))
    point['dist'] = get_dist((float(point["Latitude"]), float(point["Longitude"])))
    point['round_lat'] = round(2*float(point["Latitude"]))
    point['round_long'] = round(2*float(point["Longitude"]))

KeyError: 'lat'

In [ ]:
eu_data[0]['depth']

In [30]:
eu_data[65]['dist']

0.04103599148545686

### Reading the marine .nc data

In [ ]:
file = nc.Dataset('Data/adaptor.mars.internal-1681974049.4026587-29692-1-dd9a618f-4443-456b-9015-a189e9b4145c.nc', 'r')
file.variables

### Get all the featurs values

In [ ]:
longitude = file.variables['longitude']
latitude = file.variables['latitude']
time = file.variables['time']
mwd = file.variables['mwd']
mwp = file.variables['mwp']
wmb = file.variables['wmb']
phioc = file.variables['phioc']
phiaw = file.variables['phiaw']
swh = file.variables['swh']

In [ ]:
longitude = longitude[:]
latitude = latitude[:]
time = time[:]
mwd = mwd[:]
mwp = mwp[:]
wmb = wmb[:]
phioc = phioc[:]
phiaw = phiaw[:]
swh = swh[:]

### Define function for exponentially weighted mean average

In [ ]:
def ewma(x):
    return pd.Series(x).ewm(alpha=0.1).mean().values[-1]

### Get ewma for all the features

In [ ]:
mwd = np.apply_along_axis(ewma, axis=0, arr=mwd)
mwp = np.apply_along_axis(ewma, axis=0, arr=mwp)
wmb = np.apply_along_axis(ewma, axis=0, arr=wmb)
phioc = np.apply_along_axis(ewma, axis=0, arr=phioc)
phiaw = np.apply_along_axis(ewma, axis=0, arr=phiaw)
swh = np.apply_along_axis(ewma, axis=0, arr=swh)

In [ ]:
fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, mwd, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Heatmap plot')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
# Show the plot
plt.show()

In [ ]:
len(latitude)

In [ ]:
len(longitude)

In [ ]:
# for tm in range(len(time)):
#     for lat in range(len(latitude)):
#         for long in range(len(longitude)):
#             wmb.data[tm][lat][long]

In [ ]:
# for lat in range(len(latitude)):
#     for long in range(len(longitude)):
#         wmb.data[-1][lat][long]

In [ ]:
X, Y = np.meshgrid(latitude.data, longitude.data)

# # plot the pcolormesh
# plt.pcolormesh(X, Y, wmb.data[-1], cmap='jet')
# plt.colorbar()

## ML model

In [ ]:
# inputs
x_train = []
y_train = []

### Plot for Normalised energy flux into the ocean (phioc)

In [ ]:
masked_data = np.ma.masked_less(phioc.data, -13000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Normalised energy flux into the ocean (phioc)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')

# Show the plot
plt.show()

### Plot for Mean wave direction (mwd)

In [ ]:
masked_data = np.ma.masked_less(mwd.data, -13000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Mean wave direction (mwd)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
# Show the plot
plt.show()

### Plot for Mean wave period (mwp)

In [ ]:
masked_data = np.ma.masked_less(mwp.data, -13000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Mean wave period (mwp)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')

# Show the plot
plt.show()

### Plot for Normalised energy flux into the waves (phiaw)

In [ ]:
masked_data = np.ma.masked_less(phiaw.data, -13000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Normalised energy flux into the waves (phiaw)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')

# Show the plot
plt.show()

### Plot for Significant height of comined wind and swell (swh)

In [ ]:
masked_data = np.ma.masked_less(swh.data, -13000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Significant height of comined wind and swell (swh)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')

# Show the plot
plt.show()

### Plot for Model bathymetry (wmb)

In [ ]:
masked_data = np.ma.masked_less(wmb.data, -15000)

fig, ax = plt.subplots()
heatmap = ax.pcolormesh(longitude, latitude, masked_data, cmap='coolwarm')

# Add a color bar
cbar = fig.colorbar(heatmap)

# Set the plot title and axis labels
ax.set_title('Model bathymetry (wmb)')
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')

# Show the plot
plt.show()

In [ ]:
# Close the file
file.close()

In [ ]:
time x latitude x longitude